* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #F4D04E;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    padding: 24px;
    width: 384px;
    border-radius: 24px;
}

.illustration {
    border-radius: 10px;
    margin-bottom: 24px;
}

span {
    background-color: #F4D04E;
    padding: 4px 12px;
    border-radius: 4px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}