* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #F4D04E;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    padding: 24px;
    width: 384px;
    border-radius: 24px;
}

.illustration {
    border-radius: 10px;
    margin-bottom: 24px;
}

.badge {
    background-color: #F4D04E;
}