* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #F4D04E;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    padding: 24px;
    width: 384px;
    border-radius: 24px;

    border: 1px solid #111111;
    ;
    box-shadow: 8px 8px 0px #111111;
}

.illustration {
    border-radius: 10px;
    margin-bottom: 24px;
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

span {
    /* preset 3 bold */
    background-color: #F4D04E;
    padding: 4px 12px;
    border-radius: 4px;
    font-family: 'Figtree';
    font-weight: 800;
    color: #111111;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    margin-bottom: 12px;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 150%;
    letter-spacing: 0px;
}

.description {
    /* preset 2 */
    font-family: 'Figtree';
    font-weight: 500;
    color: #6B6B6B;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    margin-bottom: 24px;
}

h1 {
    /* preset 1*/
    font-family: 'Figtree';
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    margin-bottom: 12px;
    color: #111111;
}

h1:hover {
    color: #F4D04E;

}

h2 {
    /* preset 3 bold */
    font-family: 'Figtree';
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #111111;
}

.date {
    /* preset 3*/
    font-family: 'Figtree';
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    margin-bottom: 12px;
    color: #111111;
}

.author img {
    width: 32px;
    height: 32px;
}